.gmr-full-input {
    border: 1px solid #D86C00;
    background-color: white;
    display: inline-block;
    font: 16px Open Sans, sans-serif;
    font-weight: 300;
    padding: 0;
    width: 100%;
}

.gmr-input {
    font: 16px Open Sans, sans-serif;
    border: none;
    font-weight: 300;
    padding: 12px;
    width: ~"calc(100% - 25px)";
}

.submit-lupa {
    position:absolute;
    border:none;
    background:transparent;
    text-align: center;
    margin-top: 10px;
  }

.gmr-stripe-horizontal {
    background: #ffffff;
    content: '';
    display: block;
    height: 1px;
    margin:35px 0 20px;
    position: relative;
}
